<!-- Tabs for navigating into offers.
  -- Shown when an offer is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="offerTabs">
    <li id="offerDetailsTab" role="presentation">
        <a ui-sref="offerDetails({offerId:offer._id})" role="tab" data-toggle="tab">Details</a>
    </li>
    <li id="benefitsTab" role="presentation" class="active">
        <a href="#benefits" role="tab" data-toggle="tab">Benefits</a>
    </li>
    <li id="termsTab" role="presentation">
        <a ui-sref="terms({offerId:offer._id})" role="tab" data-toggle="tab">Terms</a>
    </li>
    <li id="merchandisingTab" role="presentation">
        <a ui-sref="merchandising({offerId:offer._id})" role="tab" data-toggle="tab">Merchandising</a>
    </li>
</ul>
    
<div class="tab-content">    
<!-- Panel for Adding/Removing Benefits to an Offer.
  -->
<div role="tabpanel" class="tab-pane active" id="benefits">
    <!-- offer.name display -->
    <form class="form-inline">
        <div class="form-group">
            <label>Offer:</label>
        </div>
        <span>{{offer.name}}</span>
    </form>
    
    <div>
        <iui-treegrid name="{{assignedBenefitsGrid}}" class="benefit-list" columns="leftColumns" rows="assignedBenefitsRows" show-footer="false"></iui-treegrid>

        <div class="benefit-opps-buttons">
            <button type="button" class="btn btn-primary assign-benefit" ng-click="addBenefit()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button> <br />
            <button type="button" class="btn btn-primary unassign-benefit" ng-click="removeBenefit()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>

        <iui-treegrid name="{{availableBenefitsGrid}}" class="benefit-list" columns="rightColumns" rows="availableBenefitsRows" show-footer="false"></iui-treegrid>
    </div>
    
    <button type="button" class="btn btn-primary tg-button back-button" ui-sref="offers({populationId:offer.population._id})">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Offers
    </button>
</div>
    
</div> <!-- END tab content -->
</div> <!-- END offer tabs -->