<!-- Tabs for navigating into offers.
  -- Shown when an offer is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="offerTabs">
    <li id="offerDetailsTab" role="presentation">
        <a ui-sref="offerDetails({offerId:offer._id})" role="tab" data-toggle="tab">Details</a>
    </li>
    <li id="benefitsTab" role="presentation">
        <a ui-sref="benefits({offerId:offer._id})" role="tab" data-toggle="tab">Benefits</a>
    </li>
    <li id="termsTab" role="presentation">
        <a ui-sref="terms({offerId:offer._id})" role="tab" data-toggle="tab">Terms</a>
    </li>
    <li id="merchandisingTab" role="presentation" class="active">
        <a href="#merchandising" role="tab" data-toggle="tab">Merchandising</a>
    </li>
</ul>
    
<div class="tab-content">    
<!-- Panel modifying merchandizing.
  -- Works like a key/value pair editor to storing text 
  -- and image assets.
  -->
<div role="tabpanel" class="tab-pane active" id="merchandising">
    <!-- offer.name display -->
    <form class="form-inline">
        <div class="form-group">
            <label>Offer:</label>
        </div>
        <span>{{offer.name}}</span>
    </form>
    
    <div class="container-fluid">
        <div id="merchandiseRow" class="row" ng-repeat="item in merchandising">
            <div class="col-md-2">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="item.name">
            </div>
            <div class="col-md-2">
                <label>Type</label>
                <div class="dropdown" id="merchType">
                    <button class="btn btn-default dropdown-toggle" type="button" id="merchTypeButton" data-toggle="dropdown" aria-expanded="true">
                    {{item.merchType.name}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="merchTypeButton">
                        <li role="presentation" ng-repeat="type in merchTypes" ng-click="setMerchType(item,type)">
                        {{type.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <label>Value</label>
                <input type="text" class="form-control" ng-model="item.value">
            </div>
            <div class="col-md-2">
                <label for="merchPlacement">Placement</label>
                <div class="dropdown" id="merchPlacement">
                    <button class="btn btn-default dropdown-toggle" type="button" id="merchPlacementButton" data-toggle="dropdown" aria-expanded="true">
                    {{item.placement.name}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="merchPlacementButton">
                        <li role="presentation" ng-repeat="placement in placements" ng-click="setPlacement(item,placement)">
                        {{placement.name}}
                        </li>
                    </ul>
                </div>
                    
            </div>
            <div class="col-md-1">
                <label>Remove</label>
                <button type="button" class="btn btn-default" ng-click="removeMerchandising(item)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            
        </div>
    </div>
    
    <button type="button" class="btn btn-default" ng-click="addMerchandising()">
        <span class="glyphicon glyphicon-add" aria-hidden="true"></span>Add
    </button>
    <button type="button" class="btn btn-default" ng-click="saveMerchandising()">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save
    </button>
</div>
</div> <!-- END tab content -->
</div> <!-- END offer tabs -->