<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="populationTabs">
    <li id="populationDetailsTab" role="presentation"><a ui-sref="populationDetails({populationId:population._id})" role="tab" data-toggle="tab">Details</a></li>
    <li id="offersTab" role="presentation" class="active"><a href="#offers" role="tab" data-toggle="tab">Offers</a></li>
</ul>
    
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="offers">
    
    <div class="tree-grid-panel">
        <iui-treegrid id="offerTG" name="{{gridName}}" class="tree-grid" columns="columns" rows="rowData" label-edit="true" tabindex="0" show-footer="false" after-label-edit="rowEdited(e)"></iui-treegrid>
        <div class="tg-button-panel">
            <button type="button" class="btn btn-primary tg-button" ng-click="createOffer()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Offer
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="remove()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="edit()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="copy()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Copy From
            </button>
        </div>
    </div>
    
</div>
</div> <!-- END tab content -->
</div> <!-- END population tabs -->