<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="populationTabs">
    <li id="populationDetailsTab" role="presentation"><a ui-sref="populationDetails({populationId:population._id})" role="tab" data-toggle="tab">Details</a></li>
    <li id="offersTab" role="presentation" class="active"><a href="#offers" role="tab" data-toggle="tab">Offers</a></li>
</ul>
    
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="offers">
    <button type="button" class="btn btn-primary" ng-click="addOffer()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>

    <table class="table table-striped">
        <thead><tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Split</th>
            <th>Status</th>
            <th>Starts</th>
            <th>Ends</th>
            <th></th>
        </tr></thead>
        <tbody><tr ng-repeat="offer in offers">
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="offerDetails({offerId:offer._id})"></span>
                </button>
            </td>
            <td>{{offer.name}}</td>
            <td>{{offer.offerType.name}}</td>
            <td><input id="offerSplitEditTextbox" type="text" class="form-control" ng-model="offer.split" ng-change="saveOffer(offer)">%</td>
            <td>{{offer.offerStatus.name}}</td>
            <td>{{offer.startDate}}</td>
            <td>{{offer.endDate}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeOffer(offer)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr></tbody>
    </table>

    <button type="button" class="btn btn-primary" ng-click="addOffer()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
</div>
</div> <!-- END tab content -->
</div> <!-- END population tabs -->