<!-- Tabs for navigating into offers.
  -- Shown when an offer is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="offerTabs">
    <li id="offerDetailsTab" role="presentation" class="active">
        <a href="#offerDetails" role="tab" data-toggle="tab">Details</a>
    </li>
    <li id="benefitsTab" role="presentation">
        <a ui-sref="benefits({offerId:offer._id})" role="tab" data-toggle="tab">Benefits</a>
    </li>
    <li id="termsTab" role="presentation">
        <a ui-sref="terms({offerId:offer._id})" role="tab" data-toggle="tab">Terms</a>
    </li>
    <li id="merchandisingTab" role="presentation">
        <a ui-sref="merchandising({offerId:offer._id})" role="tab" data-toggle="tab">Merchandising</a>
    </li>
</ul>
    
<div class="tab-content">    
<!-- Panel for viewing and selecting offers to edit.
  -->
<div role="tabpanel" class="tab-pane active" id="offerDetails">
    <!-- offer.statusId -->
    <form class="form-inline">
        <label>Status</label>
        <p>{{offer.offerStatus.name}}</p>
        <button type="button" class="btn btn-default" id="save-button" ng-click="progressOfferStatus()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{nextOfferStatus.name}}
        </button>
    </form>    
    
    <form class="form-horizontal">
        <!-- offer.populationId display -->
        <div class="form-group">
            <label class="col-sm-1 control-label">Population</label>
            <p class="col-sm-2">{{offer.population.name}}</p>
        </div>
        
        <!-- offer.name entry -->
        <div class="form-group">
            <label class="col-sm-1 control-label">Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="offer.name">
            </div>
        </div>
            
        <!-- offer.startDate entry -->
        <div class="form-group">
            <label class="col-sm-1 control-label">Start Date</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ui-date="offerStartDatePicker" ng-model="offer.startDate">
            </div>
        </div>
        

        <!-- offer.endDate entry -->
        <div class="form-group">
            <label class="col-sm-1 control-label">End Date</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ui-date="offerEndDatePicker" ng-model="offer.endDate">
            </div>
        </div>

        <!-- offer.offerTypeId entry -->
        <div class="dropdown" id="offerType">
          <button class="btn btn-default dropdown-toggle" type="button" id="offerTypeButton" data-toggle="dropdown" aria-expanded="true">
            {{offer.offerType.name}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="offerTypeButton">
            <li role="presentation" ng-repeat="offerType in offerTypes" ng-click="setOfferType(offerType)">
                {{offerType.name}}
            </li>
          </ul>
        </div>
        
    </form>
    
    <!-- offer.description entry -->
    <div class="form-group">
        <label for="offerDescriptionInput">Internal Description</label>
        <textarea id="offerDescriptionInput" rows="3" class="form-control" ng-model="offer.description">
    </div>
    
    <button type="button" class="btn btn-default" id="save-button" ng-click="saveOffer()">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
    </button>
</div>
    
</div> <!-- END tab content -->
</div> <!-- END offer tabs -->