<!-- Tabs for navigating into populations.
  -- Shown when a population is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="populationTabs">
    <li id="populationDetailsTab" role="presentation" class="active"><a href="#populationDetails" role="tab" data-toggle="tab">Details</a></li>
    <li id="offersTab" role="presentation"><a ui-sref="offers({populationId:population._id })" role="tab" data-toggle="tab">Offers</a></li>
</ul>
    
<div class="tab-content">
<!-- Panel for building population expressions.
  -->
<div role="tabpanel" class="tab-pane active" id="populationDetails">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="population.name" ng-change="savePopulation()">
            </div>
        </div>
    </form>
    <div id="populationDefinition" class="container-fluid">
        <h3>Segmentation Definition</h3>
        <div ng-repeat="expression in population.segmentExpression">

            <!-- Repeater for outer opperators (AND|OR|NOT)-->
            <div ng-if="expression.operatorOnly" class="btn-group" dropdown id="outerOperator">
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                {{expression.operator.sign}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="setOperator(expression, 3)">AND</a></li>
                  <li><a href="#" ng-click="setOperator(expression, 4)">OR</a></li>
                  <li><a href="#" ng-click="setOperator(expression, 5)">NOT</a></li>
              </ul>
            </div>
            
            <!-- Repeater for expressions. -->
            <div ng-if="!expression.operatorOnly" id="expression">
                <!-- Use when the left side is a dimension -->
                <div class="btn-group" dropdown id="dimension">
                  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="dimensionButton" >
                    {{expression.left.name}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="dimension in supportedDimensions">
                        <a href="#" ng-click="setDimension(expression, dimension)">{{dimension.name}}</a>
                    </li>
                  </ul>
                </div>

                <!-- Inner operator -->
                <div class="btn-group" dropdown id="innerOperator">
                  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="innerOperatorButton">
                    {{expression.operator.sign}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="setOperator(expression, 1)">=</a></li>
                    <li><a href="#" ng-click="setOperator(expression, 2)">!=</a></li>
                  </ul>
                </div>

                <!-- Use when the right side is a range -->
                <div class="dropdown" dropdown id="range">
                  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="rangeButton">
                    {{expression.right.name}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="range in expression.applicableRanges">
                        <a href="#" ng-click="setRange(expression, range)">{{range.name}}</a>
                    </li>
                  </ul>
                </div>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeExpression(expression)"></span>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="addExpressionButton" ng-click="addExpression()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Expression
        </button>        
    </div>

</div> <!-- END population details content -->
    
</div> <!-- END tab content -->
</div> <!-- END population tabs -->