<!-- Tabs for navigating into populations.
  -- Shown when a population is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="populationTabs">
    <li id="populationDetailsTab" role="presentation" class="active"><a href="#populationDetails" role="tab" data-toggle="tab">Details</a></li>
    <li id="offersTab" role="presentation"><a ui-sref="offers({populationId:population._id })" role="tab" data-toggle="tab">Offers</a></li>
</ul>
    
<div class="tab-content">
<!-- Panel for building population expressions.
  -->
<div role="tabpanel" class="tab-pane active" id="populationDetails">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="population.name">
            </div>
        </div>
    </form>
    <div id="populationDefinition" class="container-fluid">
        <h3>Segmentation Definition</h3>
        <div ng-repeat="expression in population.segmentExpression">

            <!-- Repeater for outer opperators (AND|OR|NOT)-->
            <div ng-if="expression.operatorOnly" class="dropdown" id="outerOperator">
              <button class="btn btn-default dropdown-toggle" type="button" id="outerOperator" data-toggle="dropdown" aria-expanded="true">
                {{expression.operator.sign}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="outerOperator">
                <li role="presentation" ng-click="setOperator(expression, 3)">AND</li>
                <li role="presentation" ng-click="setOperator(expression, 4)">OR</li>
                <li role="presentation" ng-click="setOperator(expression, 5)">NOT</li>
              </ul>
            </div>
            
            <!-- Repeater for expressions. -->
            <div ng-if="!expression.operatorOnly" id="expression">
                <!-- Use when the left side is a dimension -->
                <div class="dropdown" id="dimension">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dimensionButton" data-toggle="dropdown" aria-expanded="true">
                    {{expression.left.name}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dimensionButton">
                    <li role="presentation" ng-repeat="dimension in supportedDimensions" ng-click="setDimension(expression, dimension)">
                        {{dimension.name}}
                    </li>
                  </ul>
                </div>

                <!-- Inner operator -->
                <div class="dropdown" id="innerOperator">
                  <button class="btn btn-default dropdown-toggle" type="button" id="innerOperatorButton" data-toggle="dropdown" aria-expanded="true">
                    {{expression.operator.sign}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="innerOperatorButton">
                    <li role="presentation" ng-click="setOperator(expression, 1)">=</li>
                    <li role="presentation" ng-click="setOperator(expression, 2)">!=</li>
                  </ul>
                </div>

                <!-- Use when the right side is a range -->
                <div class="dropdown" id="range">
                  <button class="btn btn-default dropdown-toggle" type="button" id="rangeButton" data-toggle="dropdown" aria-expanded="true">
                    {{expression.right.name}}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="rangeButton">
                    <li role="presentation" ng-repeat="range in expression.applicableRanges" ng-click="expression.right = range">
                        {{range.name}}
                    </li>
                  </ul>
                </div>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeExpression(expression)"></span>
            </div>
        </div>
        <button type="button" class="btn btn-default" id="addExpressionButton" ng-click="addExpression()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Expression
        </button>
        
    </div>
    <button type="button" class="btn btn-default" id="save-button" ng-click="savePopulation()">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
    </button>
</div> <!-- END population details content -->
    
</div> <!-- END tab content -->
</div> <!-- END population tabs -->