<!-- Populations table.
  -- Also contains buttons for add/edit/remove
  -->
<div id="populations" class="panel panel-default">
<div class="panel-body">
    <button type="button" class="btn btn-primary" ng-click="addPopulation()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>

    <table class="table table-striped">
        <thead><tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Split</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr></thead>
        <tbody><tr ng-repeat="pop in populations">
            <td>
                <a type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="populationDetails({populationId:pop._id})"></span>
                </a>
            </td>
            <td>{{pop.name}}</td>
            <td></td>
            <td></td>
            <td>{{pop.status}}</td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removePopulation(pop)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr></tbody>
    </table>
    
    <button type="button" class="btn btn-primary" ng-click="addPopulation()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
</div>
</div>