<!-- Populations table.
  -- Also contains buttons for add/edit/remove
  -->
<div id="populations" class="panel panel-default">
<div class="panel-body">
    
    <div class="tree-grid-panel">
        <iui-treegrid name="{{gridName}}" class="tree-grid" columns="columns" rows="rowData" show-footer="false"></iui-treegrid>
        <div class="tg-button-panel">
            <button type="button" class="btn btn-primary tg-button" ng-click="createPopulation()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Population
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="remove()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="edit()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button type="button" class="btn btn-primary tg-button" ng-click="copy()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Copy
            </button>
        </div>
    </div>
</div>
</div>