<!-- Edit details of a single term.
  -->
<form class="form-horizontal" id="termInputMainGroup">        
    <!-- term.name entry
    <div class="form-group">
        <label class="col-sm-2 control-label">Charge Name</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.name">
        </div>
    </div>
    -->
    
    <!-- term.isTrial entry -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="term.isTrial">Is Trial
                </label>
            </div>
        </div>
    </div>
    
    <!-- term.billingOnset entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Billing Onset</label>
        <div class="dropdown col-sm-2" id="billingOnset">
          <button class="btn btn-default dropdown-toggle" type="button" id="billingOnsetButton" data-toggle="dropdown" aria-expanded="true">
            {{term.billingOnset.name}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="billingOnsetButton">
            <li role="presentation" ng-repeat="billingOnset in billingOnsets" ng-click="setBillingOnset(billingOnset)">
                {{billingOnset.name}}
            </li>
          </ul>
        </div>
    </div>
    
    <!-- term.price entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.price">
        </div>
    </div>
    
    <!-- term.msrp entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">MSRP</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.msrp">
        </div>
    </div>
</form>

<!-- term.hasBillingInterval entry -->
<div class="checkbox" id="isReccuringCheckbox">
    <label>
        <input type="checkbox" ng-model="term.hasBillingInterval">Is Recurring
    </label>
</div>

<div id="termInputRecurrence" ng-show="term.hasBillingInterval">
    <h3>Recurrence</h3>    

    <form class="form-inline" id="termInputRecurrenceForm">
        <!-- term.billingTimespan entry -->
        <div class="form-group">
            <label for="billingTimespan">Every</label>
            <input type="number" class="form-control" id="billingTimespan" placeholder="1" ng-model="term.billingTimespan">
        </div>

        <!-- term.billingInterval entry -->
        <div class="form-group">
            <div class="dropdown" id="billingInterval">
              <button class="btn btn-default dropdown-toggle" type="button" id="billingIntervalButton" data-toggle="dropdown" aria-expanded="true">
                {{term.billingInterval.name}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="billingIntervalButton">
                <li role="presentation" ng-repeat="billingInterval in billingIntervals" ng-click="setBillingInterval(billingInterval)">
                    {{billingInterval.name}}
                </li>
              </ul>
            </div>
        </div>

        <div class="form-group">
            <label>for</label>
        </div>

        <!-- term.billingPeriod entry -->
        <div class="form-group">
            <div class="dropdown" id="billingPeriod">
              <button class="btn btn-default dropdown-toggle" type="button" id="billingPeriodButton" data-toggle="dropdown" aria-expanded="true">
                {{term.billingPeriod.name}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="billingPeriodButton">
                <li role="presentation" ng-repeat="billingPeriod in billingPeriods" ng-click="setBillingPeriod(billingPeriod)">
                    {{billingPeriod.name}}
                </li>
              </ul>
            </div>
        </div>

        <div class="form-group">
            <label>billing period(s)</label>
        </div>
    </form>
</div>
    
<form class="form-horizontal" id="termInputMainGroup">
    <!-- term.prorationRule entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Proration Rule</label>
        <div class="dropdown col-sm-2" id="prorationRule">
          <button class="btn btn-default dropdown-toggle" type="button" id="prorationRuleButton" data-toggle="dropdown" aria-expanded="true">
            {{term.prorationRule.name}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="prorationRuleButton">
            <li role="presentation" ng-repeat="prorationRule in prorationRules" ng-click="setProrationRule(prorationRule)">
                {{prorationRule.name}}
            </li>
          </ul>
        </div>
    </div>
    
    <!-- term.description entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="term.description"></input>
        </div>
    </div>
</form>

<button type="button" class="btn btn-default" id="save-button" ng-click="saveTerm()">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save and Relist Terms 
</button>
