<!-- Tabs for navigating into offers.
  -- Shown when an offer is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="offerTabs">
    <li id="offerDetailsTab" role="presentation">
        <a ui-sref="offerDetails({offerId:offer._id})" role="tab" data-toggle="tab">Details</a>
    </li>
    <li id="benefitsTab" role="presentation">
        <a ui-sref="benefits({offerId:offer._id})" role="tab" data-toggle="tab">Benefits</a>
    </li>
    <li id="termsTab" role="presentation" class="active">
        <a href="#terms" role="tab" data-toggle="tab">Terms</a>
    </li>
    <li id="merchandisingTab" role="presentation">
        <a ui-sref="merchandising({offerId:offer._id})" role="tab" data-toggle="tab">Merchandising</a>
    </li>
</ul>
    
<div class="tab-content">    
<!-- Panel for modifying terms.
  -->
<div role="tabpanel" class="tab-pane active" id="terms">
    <!-- offer.name display -->
    <form class="form-inline">
        <div class="form-group">
            <label>Offer:</label>
        </div>
        <span>{{offer.name}}</span>
    </form>
    
    <form class="form-horizontal" id="termInputMainGroup">
        <!-- offer.hasTrial entry -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="offer.hasTrial" ng-change="saveTerms()">Has Trial
                    </label>
                </div>
            </div>
        </div>
        
        <!-- offer.requiresPaymentAuthorization entry -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="offer.requiresPaymentAuthorization" ng-change="saveTerms()">Requires Payment Authorization
                    </label>
                </div>
            </div>
        </div>
        
        <!-- offer.paymentAuthorizationAmount entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Payment Authorization Amount</label>
            <div class="input-group col-sm-1">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" ng-model="offer.paymentAuthorizationAmount" ng-change="saveTerms()">
            </div>
        </div>
        
        <!-- offer.shortPaymentDisclosure entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Short Payment Disclosure</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="offer.shortPaymentDisclosure" ng-change="saveTerms()">
            </div>
        </div>
        
        <!-- offer.longPaymentDisclosure entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Long Payment Disclosure</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="offer.longPaymentDisclosure" ng-change="saveTerms()">
            </div>
        </div>
    </form>
    
    <h3>Charges:</h3>
    <div ng-show="appState.displayTerms" id="termsDiv">
        <iui-treegrid id="chargesTG" name="{{gridName}}" class="terms-tree-grid" columns="columns" rows="rowData" show-footer="false"></iui-treegrid>
        <div class="tg-button-panel">
            <button type="button" class="btn btn-primary" ng-click="createTerm()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Term
            </button>
            <button type="button" class="btn btn-primary" ng-click="editTerm()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button type="button" class="btn btn-primary" ng-click="removeTerm()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
        </div>
    </div>
    
    <div ng-show="appState.displayTermDetails" id="termDetailsDiv">
        <div ui-view>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary tg-button back-button" ng-click="gotoOffers()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Offers
    </button>
</div>
    
</div> <!-- END tab content -->
</div> <!-- END offer tabs -->