<!-- Edit details of a single term.
  -->
<form class="form-horizontal" id="termInputMainGroup">        
    <!-- term.name entry
    <div class="form-group">
        <label class="col-sm-2 control-label">Charge Name</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.name">
        </div>
    </div>
    -->
    
    <!-- term.isTrial entry -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="term.isTrial" ng-change="saveTerm()">Is Trial
                </label>
            </div>
        </div>
    </div>
    
    <!-- term.billingOnset entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Billing Onset</label>
        <div class="btn-group col-sm-2" dropdown id="billingOnset">
          <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="billingOnsetButton">
            {{term.billingOnset.name}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="billingOnset in billingOnsets" ng-click="setBillingOnset(billingOnset)">
                <a href="#">{{billingOnset.name}}</a>
            </li>
          </ul>
        </div>
    </div>
    
    <!-- term.price entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.price" ng-change="saveTerm()">
        </div>
    </div>
    
    <!-- term.msrp entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">MSRP</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="term.msrp" ng-change="saveTerm()">
        </div>
    </div>
</form>

<!-- term.hasBillingInterval entry -->
<div class="checkbox" id="isReccuringCheckbox">
    <label>
        <input type="checkbox" ng-model="term.hasBillingInterval">Is Recurring
    </label>
</div>

<div id="termInputRecurrence" ng-show="term.hasBillingInterval">
    <h3>Recurrence</h3>    

    <form class="form-inline" id="termInputRecurrenceForm">
        <!-- term.billingTimespan entry -->
        <div class="form-group">
            <label for="billingTimespan">Every</label>
            <input type="number" class="form-control" id="billingTimespan" placeholder="1" ng-model="term.billingTimespan" ng-change="saveTerm()">
        </div>

        <!-- term.billingInterval entry -->
        <div class="form-group">
            <div class="btn-group" dropdown id="billingInterval">
              <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="billingIntervalButton">
                {{term.billingInterval.name}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="billingInterval in billingIntervals">
                    <a href="#" ng-click="setBillingInterval(billingInterval)">{{billingInterval.name}}</a>
                </li>
              </ul>
            </div>
        </div>

        <div class="form-group">
            <label>for</label>
        </div>

        <!-- term.billingPeriod entry -->
        <div class="form-group">
            <div class="btn-group" dropdown id="billingPeriod">
              <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="billingPeriodButton">
                {{term.billingPeriod.name}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="billingPeriod in billingPeriods">
                    <a href="#" ng-click="setBillingPeriod(billingPeriod)">{{billingPeriod.name}}</a>
                </li>
              </ul>
            </div>
        </div>

        <div class="form-group">
            <label>billing period(s)</label>
        </div>
    </form>
</div>
    
<form class="form-horizontal" id="termInputMainGroup">
    <!-- term.prorationRule entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Proration Rule</label>
        <div class="btn-group col-sm-2" dropdown id="prorationRule">
          <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="prorationRuleButton">
            {{term.prorationRule.name}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="prorationRule in prorationRules">
                <a href="#" ng-click="setProrationRule(prorationRule)">{{prorationRule.name}}</a>
            </li>
          </ul>
        </div>
    </div>
    
    <!-- term.description entry -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="term.description" ng-change="saveTerm()"></input>
        </div>
    </div>
</form>

<button type="button" class="btn btn-primary" id="save-button" ng-click="backToTerms()">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Relist Terms 
</button>
