<!-- Tabs for navigating into offers.
  -- Shown when an offer is selected for editing.
  -->
<div role="tabpanel">  
<ul class="nav nav-tabs" role="tablist" id="offerTabs">
    <li id="offerDetailsTab" role="presentation">
        <a ui-sref="offerDetails({offerId:offer._id})" role="tab" data-toggle="tab">Details</a>
    </li>
    <li id="benefitsTab" role="presentation">
        <a ui-sref="benefits({offerId:offer._id})" role="tab" data-toggle="tab">Benefits</a>
    </li>
    <li id="termsTab" role="presentation" class="active">
        <a href="#terms" role="tab" data-toggle="tab">Terms</a>
    </li>
    <li id="merchandisingTab" role="presentation">
        <a ui-sref="merchandising({offerId:offer._id})" role="tab" data-toggle="tab">Merchandising</a>
    </li>
</ul>
    
<div class="tab-content">    
<!-- Panel for modifying terms.
  -->
<div role="tabpanel" class="tab-pane active" id="terms">
    <!-- offer.name display -->
    <form class="form-inline">
        <div class="form-group">
            <label>Offer:</label>
        </div>
        <span>{{offer.name}}</span>
    </form>
    
    <form class="form-horizontal" id="termInputMainGroup">
        <!-- offer.hasTrial entry -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="offer.hasTrial">Has Trial
                    </label>
                </div>
            </div>
        </div>
        
        <!-- offer.requiresPaymentAuthorization entry -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="offer.requiresPaymentAuthorization">Requires Payment Authorization
                    </label>
                </div>
            </div>
        </div>
        
        <!-- offer.paymentAuthorizationAmount entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Payment Authorization Amount</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" ng-model="offer.paymentAuthorizationAmount">
            </div>
        </div>
        
        <!-- offer.shortPaymentDisclosure entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Short Payment Disclosure</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="offer.shortPaymentDisclosure">
            </div>
        </div>
        
        <!-- offer.longPaymentDisclosure entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Long Payment Disclosure</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="offer.longPaymentDisclosure">
            </div>
        </div>
    </form>
    
    <div ng-show="appState.displayTerms" id="termsDiv">
        <button type="button" class="btn btn-default" ng-click="addTerm()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Term
        </button>
        <button type="button" class="btn btn-default" ng-click="toggleEditTerms()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Term
        </button>
        <button type="button" class="btn btn-default" ng-click="toggleRemoveTerms()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Term
        </button>

        <!-- Charges/Terms table -->
        <table class="table table-striped">
            <thead><tr>
                <th>Name</th>
                <th>Amount</th>
                <th>MSRP</th>
                <th>Billing Onset</th>
                <th>Reccurence</th>
                <th class="editTableHeader" ng-show="editTerms">Edit</th>
                <th class="editTableHeader" ng-show="removeTerms">Remove</th>
            </tr></thead>
            <tbody><tr ng-repeat="term in terms">
                <td>{{term.name}}</td>
                <td>{{term.price}}</td>
                <td>{{term.msrp}}</td>
                <td>{{term.billingOnset.name}}</td>
                <td>{{term.reccurrenceDescription}}</td>
                <td ng-show="editTerms">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="terms.termDetails({termId:term._id})"></span>
                    </button>
                </td>
                <td ng-show="removeTerms">
                    <button type="button" class="btn btn-default" ng-click="removeTerm(term)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr></tbody>
        </table>

        <button type="button" class="btn btn-default" ng-click="addTerm()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Term
        </button>
        <button type="button" class="btn btn-default" ng-click="toggleEditTerms()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Term
        </button>
        <button type="button" class="btn btn-default" ng-click="toggleRemoveTerms()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Term
        </button>
    </div>
    
    <div ng-show="appState.displayTermDetails" id="termDetailsDiv">
        <div ui-view>
        </div>
    </div>
    
    <div>
        <button type="button" class="btn btn-default" id="save-button" ng-click="saveTerms()">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
        </button>
    </div>
</div>
    
</div> <!-- END tab content -->
</div> <!-- END offer tabs -->